body {
    background-color: beige;
}

#jumbotron {
    padding: 40px;
}

.form {
    padding: 20px;
    margin: 20px;
    background-color: white;
}

a.btn-dark {
    color: white;
}

.Ravenclaw {
    background-color: brown;
    color: rgb(34, 34, 153);
}

.Hufflepuff {
    background-color: yellow;
    color: black;
}

.Slytherin {
    background-color: green;
    color: grey;
}

.Gryffindor {
    background-color: red;
    color: rgb(230, 230, 88);
}